.glass-sidebar {
  position: fixed;
  top: 30px;
  left: 30px;
  width: 230px;
  height: 90vh;
  padding: 25px;
  
  background: rgba(130, 72, 255, 0.25);
  backdrop-filter: blur(12px);
  border-radius: 28px;
  border: 1px solid rgba(255, 255, 255, 0.4);

  box-shadow: 0px 10px 35px rgba(90, 30, 200, 0.25);
  color: white;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: left;
}

.menu a {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 14px;
  color: #fff;
  border-radius: 16px;
  font-size: 15px;
  transition: 0.3s;
}

.menu a:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: translateX(6px);
}

.glass-nav {
  position: fixed;
  top: 30px;
  left: 290px;
  right: 30px;
  height: 70px;

  padding: 15px 25px;
  background: rgba(130, 72, 255, 0.25);
  backdrop-filter: blur(12px);

  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
  font-weight: bold;

  box-shadow: 0px 8px 25px rgba(90, 30, 200, 0.25);
}
